<form action="/places" method="post">
  <label for="cityName">Add a new city</label>
  <input id="cityName" name="cityName" type="text">
  <label for="days">How many days did you stay?</label>
  <input id="days" name="days" type="text">
  <label for="travelBuddy">Who travel with you?</label>
  <input id="travelBuddy" name="travelBuddy" type="text">
  <label for="dishes"> Which dish did you like?</label>
  <input id="dishes" name="dishes" type="text">
  <button type="submit">Submit</button>
</form>