<h1>Places Details</h1>

<h2>@Model.CityName</h2>
<ul>
  <li>i stayed there @Model.DaysStayed days</li>
  <li> I travel with @Model.TravelBuddy</li>
  <li> My favorite dish: @Model.Dishes</li>
</ul>

<a href='/places/new'>Add a new place</a>
<a href='/places'>View all places</a>
<a href='/'>Go back to homepage</a>